.blue-simple {
    max-width: 1200px;
    margin: 0 auto;
}

.blue-simple .blue-simple-nav {
    display: flex;
    align-items: center;
    gap: 80px;
    font-size: 1.5rem;
}

.blue-simple .blue-simple-nav a {
    position: relative;
    text-decoration: none;
    color: black;
}

.blue-simple .feature-open {
    color: #bec0c0;
}


.features {
    position: absolute;
    left: -130px;
}

.blue-simple .features-option {
    margin-top: 20px;
    display: flex;
}


.blue-simple .features-option li {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}


.blue-simple .features-option li>div {
    font-weight: bold;
}

.blue-simple .features-option-item p {
    font-weight: normal;
    margin-top: 2px;
    color: #b6b6b7;
}

.blue-simple .features li {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: .4s all;
}

.blue-simple .features li:hover {
    background-color: #f0efef;
}


.blue-simple .features-option>ul {
    list-style: none;
    width: 500px;
    height: 620px;
    border: 1px solid #efefef;
    margin: 0;
    padding: 0;
}

.blue-simple .features-option>ul:last-child li {
    margin-bottom: 12px;
}

.blue-simple .typsetting-status {
    margin-left: 20px;
    border: 1px solid;
    padding: 2px 10px;
    border-radius: 30px;
    background-color: #fbeee5;
    color: #e48a3d;
    border: none;
}


.blue-simple .features-option>ul:first-child {
    border-top-left-radius: 15px;
}

.blue-simple .features-option>ul:last-child {
    border-top-right-radius: 15px;
}


.blue-simple .feature-footer {
    height: 100px;
    border: 2px solid #efefef;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
}

.blue-simple .demo-video {
    border: 2px solid #d5d5d5;
    border-radius: 25px;
    padding: 10px 15px;
    background-color: #ffff;
}

.blue-simple .demo-video:hover {
    background-color: #1313a1bb;
    color: white;
}

.blue-simple .ready-started>div:first-child {
    font-weight: bold;
}

.blue-simple .ready-started>div:last-child {
    color: gray;
}