@media only screen and (max-width:415px) {

    .miro-hero-container .miro-nav-container {
        align-items: center;
        border-bottom: 1px solid #cfcfcf;
        height: 70px;
        position: relative;
        z-index: 5;
        padding: 0px;

    }

    .miro-hero-container .miro-nav-open {
        background-color: #ffffff;
        border-bottom: 1px solid #cfcfcf;
        transform-origin: top;
        transition: .4s all;
        position: fixed;
        left: 0;
        right: 0;
        margin: 0px 10px;
    }

    .miro-hero-container .miro-nav-close {
        background-color: #ffffff;
    }

    .miro-hero-container .miro-nav-links li {
        display: none;
    }

    .miro-hero-container .action-links a:not(:last-child) {
        display: none;
    }

    .miro-hero-container .action-links {
        display: none;
    }

    .miro-hero-container .miro-nav-container.action-links a:last-child {
        padding-right: 10px;
    }

    .miro-hero-container .miro-nav-container .hamburger {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .miro-hero-container .miro-nav-container .hamburger button {
        border: 1px solid #4262ff;
        outline: none;
        padding: 12px;
        font-size: 1rem;
        border-radius: 25px;
        background-color: #4262ff;
        color: #ffffff;
    }

    .miro-hero-container .isHamburger-open .sub-action-btn {
        display: none;
    }

    .miro-hero-container .hamburger .slice {
        width: 30px;
        height: 3px;
        background-color: black;
        margin-right: 10px;
        cursor: pointer;
        transition: .2s ease-in;
    }

    .miro-hero-container .isHamburger-close .slice {
        background-color: black;
    }

    .miro-hero-container .hamburger .slice:not(:last-child) {
        margin-bottom: 5px;
    }

    .miro-hero-container .isHamburger-open .slice-2 {
        opacity: 0;
        height: 0;
    }

    .miro-hero-container .isHamburger-open .slice-1 {
        transform: rotate(45deg) translate(5px);
    }


    .miro-hero-container .isHamburger-open .slice-3 {
        transform: rotate(-45deg) translate(5px);
    }

    .miro-hero-container .mobile-nav-links {
        visibility: visible;
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-size: 1rem;
        color: black;
        gap: 10px 0;
        position: relative;
        z-index: 1;
        transition: transform .5s ease-in;
        font-family: sans-serif;
    }

    .miro-hero-container .mobile-nav-links a {
        text-decoration: none;
        font-size: 1.1rem;
        color: black;
        font-weight: 400;
    }

    .miro-hero-container .nav-links-close {
        transform: translateY(-140%);
        transform-origin: top;

    }

    .miro-hero-container .nav-links-open {
        margin-top: 70px;
        transform: translateY(0);
        transform-origin: top;
        background-color: #ffffff;
        transition: .4s ease-in;
    }

    .miro-hero-container .mobile-nav-links .mobile-nav-links span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
    }

    .miro-hero-container .mobile-nav-links .children-trigger h4 {
        padding: 0 20px;
        color: black;
    }

    .miro-hero-container .mobile-nav-links .children-trigger-links>div {
        padding: 0 20px;
    }

    .miro-hero-container .mobile-nav-links .children-trigger-links>div:last-child {
        margin-bottom: 20px;
        font-size: 1rem;
        color: #918fa8;
        padding-bottom: 10px;
    }

    .miro-hero-container .children-trigger-links>div:first-child {
        font-size: 1.3rem;
    }

    .miro-hero-container .mobile-nav-links .trigger-open .product-child-nav-arrow {
        transform: rotate(-180deg);
    }

    .miro-hero-container .mobile-nav-links .children-trigger-open {
        transform: translateY(0);
        transform-origin: bottom;
    }



    .mobile-nav-links .children-trigger-close {
        transform: translateY(-140%);
        position: absolute;
        z-index: 1;

    }

    .mobile-nav-links .sub-action-link .sub-action-btn {
        outline: none;
        border: 1px solid #4262ff;
        justify-content: center;
        padding: 13px;
        gap: 0 5px;
        display: flex;
        align-items: center;
        background-color: #4262ff;
        border-radius: 25px;
        color: white;
        font-size: 0.9rem;
        margin-bottom: 20px;
    }

    .mobile-nav-links .sub-action-link {
        margin: 50px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-nav-links .sub-action-link a {
        padding: 0 10px;
    }

    .mobile-nav-links .sub-action-link .sub-globe-EN {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }

    .mobile-nav-links .sub-action-link .sub-globe-EN div {
        padding-top: 2px;
    }

    .nav-links-open .sub-product-open {
        color: black;
    }

    .mobile-nav-links .sub-nav-links {
        border-bottom: 1px solid #cfcfcf;
        font-weight: 400;
        font-size: 1.1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
    }

    .mobile-nav-links .sub-nav-pricing {
        border: none;
    }

    .mobile-nav-links .trigger-close {
        border-bottom: 1px solid #cfcfcf;
    }

    .miroNav-underline-border-open {
        display: none;
    }

    .miro-nav-container .hamburger {
        display: block;

    }

    .miro-nav-container .signUp {
        display: none;
    }

    .mobile-nav-links .children-trigger-links>div:first-child {
        color: blue;
    }

    .mobile-nav-links .children-trigger-links>div:last-child {
        color: #343232;
    }
}