.clerk-navigation>div {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    margin-left: 18rem;
}

.clerk-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.clerk-navigation>div>a {
    font-weight: 500;
    margin: 0 10px;
}

.clerk-navigation .clerk-logo>div>img {
    margin-right: 5px;
    height: 30px;
}

.clerk-navigation .clerk-logo>div {
    display: flex;
    align-items: center;
    margin-right: 16rem;
}

.clerk-navigation .clerk-logo>div>h1 {
    margin-right: 40px;
}

.clerk-navigation .feature-list img {
    height: 30px;
    width: 30px;
}

.clerk-navigation .nav-a-tag>a {
    margin: 0 30px;
    align-items: center;
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: 500;
    color: black;
}

.clerk-navigation .nav-button:last-child {
    margin-right: 100px;
}

.clerk-navigation .sign-in {
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.5rem;
    margin: 0 30px;
    color: black;
}

.clerk-navigation .sign-up {
    color: blue;
    border: none;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.5rem;
    margin: 0 30px;
}

.clerk-navigation .hamburger .slice {
    height: 3px;
    width: 30px;
    background-color: black;
    cursor: pointer;
}

.clerk-navigation .hamburger .slice:not(:last-child) {
    margin-bottom: 4px;
}

.clerk-navigation .hamburger {
    display: none;
}

.mobile-nav-list {
    display: none;
}

.clerk-navigation .web-mob-list>div>img {
    height: 35px;
    width: 35px;
    margin-right: 15px;
    margin-left: 10px;
}

.clerk-navigation .web-second-list>div>img {
    height: 35px;
    width: 35px;
    margin-right: 15px;
    margin-left: 10px;
}


.clerk-navigation .all-products-items {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    left: 33rem;
    transition: transform .6s ease-in;
    z-index: -1;
    padding: 30px;
    position: absolute;
    width: 1100px;
    box-shadow: rgba(13, 21, 55, 0.4) 0px 40px 80px;
    border-radius: 30px;
}

.clerk-navigation .web-product-item {
    font-size: 1.9rem;
    font-weight: 500;
    color: black;
    margin-right: 30px;
}

.clerk-navigation .web-mob-list>div {
    display: flex;
    align-items: center;
    width: 450px;
}

.clerk-navigation .web-mob-list>div:hover {
    background-color: rgba(0, 0, 0, .04);
    border-radius: 8px;
}

.clerk-navigation .web-second-list>div:hover {
    background-color: rgba(0, 0, 0, .04);
    border-radius: 8px;
}

.clerk-navigation .web-mob-list {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.clerk-navigation .web-mob-list h1 {
    color: #636974;
    font-size: 1.3rem;
    font-weight: 600;
}

.clerk-navigation .web-second-list>div {
    display: flex;
    align-items: center;
    margin: 2px 0px;
    width: 450px;
}

.clerk-navigation .web-second-list {
    justify-content: space-between;
    display: flex;
}

.clerk-navigation .web-second-list h1 {
    color: #636974;
    font-size: 1.3rem;
    font-weight: 600;
}


.close-web-list {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.clerk-navigation .all-products-items>p {
    font-size: 1.8rem;
    margin-bottom: 0;
    margin-top: 5px;
}

.clerk-navigation .items-menu-product {
    display: flex;
    justify-content: space-between;
}

.clerk-navigation .product-list-menu p {
    color: #636974;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 10px;
    margin-top: 32px;
    margin-bottom: 20px;
}

.clerk-navigation .product-list-menu>span {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 10px;
}

.clerk-navigation .jamstack-framework>span {
    color: #636974;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 60px;
}


.clerk-navigation .jamstack-framework-item {
    margin-top: 15px;
}

.clerk-navigation .database-heading {
    margin-bottom: 15px;
    color: #636974;
    font-size: 1.3rem;
    font-weight: 500;
}

.clerk-navigation .jamstack-framework {
    margin-top: 48px;
}