@media only screen and (max-width:414px) {
    .kong-hero-container .kong-menu-container ul {
        margin: 0;
        padding: 0;
    }


    .kong-hero-container .kongnav-container {
        display: none;
    }

    .kong-dullBackground {
        background-color: #ffffff;
    }

    .kong-hero-container nav.responsive-kong-nav {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        height: 30px;
        border-bottom: 1px solid;
        position: relative;
        z-index: 999;
    }

    .kong-hero-container .responsive-kong-nav .hamburger .slice {
        height: 3px;
        background-color: black;
        width: 30px;
        transition: transform .5s ease-in;
    }

    .kong-hero-container .responsive-kong-nav .hamburger .slice:not(:last-child) {
        margin-bottom: 5px;
    }

    .kong-hero-container .responsive-kong-nav .hamburger-open .slice-1 {
        transform: rotate(45deg) translate(5px);

    }

    .kong-hero-container .responsive-kong-nav .hamburger-open .slice-2 {
        opacity: 0;
        height: 0;
    }

    .kong-hero-container .responsive-kong-nav .hamburger-open .slice-3 {
        transform: rotate(-45deg) translate(5px);

    }

    .kong-hero-container ul.responsive-ul-links {
        width: 400px;
        margin: 10px;
        padding: 20px 0px;
        list-style: none;
        font-size: 1.5rem;
        background-color: #fff;
        position: absolute;
        z-index: -10;
    }

    .kong-hero-container .respo-ul-open {
        transition: transform .5s ease-in;
        transform: translateY(0%);
        transform-origin: left center;
    }

    .kong-hero-container .respo-ul-close {
        transition: transform .5s ease-in;
        transform: translateY(-140%);
        transform-origin: left center;

    }

    .kong-hero-container ul.responsive-ul-links .kong-sub-link-list {
        display: block;
        padding-bottom: 10px;
    }

    .kong-hero-container ul.responsive-ul-links .kong-sub-link-list {
        display: flex;
        justify-content: space-between;
    }

    .kong-hero-container ul.responsive-ul-links li:first-child img {
        rotate: -90deg;
    }

    .kong-hero-container .kong-menu-container .products-menu-option {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        gap: 15px;
        margin: 0;
        top: 0px;
        left: 0;
    }

    .kong-hero-container .kong-menu-container .product-menu-item-1 {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 400px;
    }

    .kong-hero-container .kong-menu-container div.menu-description ul {
        margin-left: 0;
        gap: 15px;
        font-size: 0.8rem;
    }

    .kong-hero-container .kong-menu-container .sub-nav-content {
        display: contents;
    }

    .kong-hero-container .kong-menu-container .sub-nav-prod-header {
        display: flex;
        background-color: #fff
    }

    .kong-hero-container .kong-menu-container .sub-nav-prod-header img {
        rotate: 90deg;
    }

    .kong-hero-container .kong-menu-container .products-menu-option ul {
        margin: 10px;
    }

    .kong-hero-container .kong-menu-container .menu-description a,
    .menu-description p {
        font-size: 0.8rem;
    }

    .kong-hero-container .kong-menu-container {
        margin: 0;
        padding: 0;
        height: 400px;
    }

    .kong-hero-container .kong-menu-container .products-menu-option-1 {
        background-color: #f7f9fc;
    }

    .kong-hero-container .responsive-ul-links .kong-sub-action-btn {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

    }

    .kong-hero-container .responsive-ul-links .kong-sub-action-btn button {
        width: 350px;
        outline: none;
        height: 40px;
        border: none;
        margin: 10px 0px;
        font-size: 1rem;
        justify-self: center;
        border-radius: 5px;
    }

    .kong-hero-container .responsive-ul-links .kong-sub-action-btn>a {
        font-weight: 400;
        text-decoration: none;
        font-size: 1.5rem;
    }

    .kong-hero-container .responsive-ul-links .kong-sub-action-btn .sub-demo-btn {
        background-color: #1154ca;
        color: #ffffff;
    }

    .kong-hero-container .responsive-ul-links .kong-sub-action-btn .sub-start-btn {
        border: 2px solid #1154ca;
        background-color: #ffffff;
        color: #1154ca;
    }

    .kong-hero-container .responsive-ul-links .sub-nav-close {
        display: block;
    }

    .kong-hero-container .responsive-ul-links .sub-nav-open {
        display: none;

    }

}