.nav-clickup {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    border-bottom: 1px solid #EEE;
    align-items: center;
}


.nav-clickup>div>img {
    margin: 0px 10px;
    height: 60px;
    width: 50px;
}

.nav-clickup>div:first-child {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.nav-clickup>a {
    color: black;
    text-decoration: none;
    align-items: center;
    font-weight: 700;
    font-size: 1.9rem;
}

.nav-clickup:first-child a {
    margin-top: 15px;
}


.nav-clickup button {
    align-items: center;
    border-radius: 12px;
    margin-top: 40px;
    border: none;
    padding: 20px 20px;
    margin-top: 65px;
}

.nav-clickup>div>.sign-btn-nav {
    background-color: #7c68ed;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px;
}

.nav-clickup>div>.log-btn-nav {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 200px;
}

.nav-clickup>a.contact {
    margin-left: 200px;
}

.nav-clickup .header-sentence p3 {
    color: #ff41c9;
    font-size: 2.3rem;
}

.nav-clickup .btnP {
    color: #7c68ed;
    margin-left: 15px;
    margin-bottom: 8px;
    font-size: 3.1rem;
}

.nav-clickup .platform {
    display: flex;
}

.nav-clickup .platform-h1 {
    margin-left: 60px;
    margin-bottom: 0px;
}

.nav-clickup .main {
    justify-content: space-between;
}

.nav-clickup .product-menu {
    display: flex;
    text-align: center;
}


.nav-clickup .product-menu img {
    height: 30px;
    margin: 10px;
}

.nav-clickup .open {
    rotate: 180deg;
}

.nav-clickup .open-feature {
    border-bottom: 6px solid blue;
}

.nav-clickup .hamburger .slice {
    height: 3px;
    width: 30px;
    background-color: black;
    cursor: pointer;
}

.nav-clickup .hamburger .slice:not(:last-child) {
    margin-bottom: 4px;
}

.nav-clickup .hamburger {
    display: none;
}

.mobile-nav-links {
    display: none;
}

.open {
    height: 30px;
    width: 30px;
}

.close {
    height: 30px;
    width: 30px;
}


.close-product {
    display: none;
    visibility: hidden;
}

.nav-clickup .first-web-product-list {
    display: flex;
    align-items: center;
    width: 370px;
}

.nav-clickup .first-web-product-list>img {
    height: 40px;
    margin-right: 15px;
    margin-bottom: 60px;
}

.nav-clickup .first-web-product-list>div h1 {
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.nav-clickup .second-web-product-list>img {
    height: 40px;
    margin-right: 15px;
    margin-bottom: 60px;
}

.nav-clickup .second-web-product-list {
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 370px;
}

.nav-clickup .second-web-nav-list>div>div h1 {
    font-size: 2.1rem;
    font-weight: 600;
}


.nav-clickup .third-web-product-list>div>h1 {
    font-size: 2.1rem;
    font-weight: 600;
}

.nav-clickup .third-web-product-list {
    width: 370px;
    height: 180px;
    padding: 27px 20px;
    display: flex;
    align-items: center;
}

.nav-clickup .first-web-product-list>div p {
    font-size: 1.1rem;
}

.nav-clickup .web-full-product-menu>div:first-child {
    margin-top: 15px;
    font-weight: 700;
    font-size: 1.8rem;
}


.nav-clickup .webProduct {
    display: flex;
    position: absolute;
    margin-top: 5rem;
    left: 1%;
}


.features-item {
    display: flex;
    align-items: center;
}


.product-heading {
    float: left;
}

.feature-new-list {
    display: flex;
}

.web-nav-list {
    justify-content: space-between;
    margin: 10px 100px;
}

.open-product {
    width: 100px;
}


.nav-clickup .hrLine {
    border: 2px solid #EEE;
    margin-top: 1px;
    margin-left: 140px;
}

.nav-clickup .first-product-option {
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

.nav-clickup .first-product-option>div {
    margin-right: 100px;
}

.nav-clickup .second-product-option {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
}

.nav-clickup .second-product-option>div {
    margin-right: 100px;
}

.nav-clickup .web-header-logo>img {
    height: 40px;
    width: 35px;
}

..web-header-logo {
    align-items: center;
}

.nav-clickup .web-header {
    background: linear-gradient(108.42deg, #2a2e34 59.96%, #ff41c9 116.89%);
    width: 1350px;
    border-radius: 12px;
    padding: 40px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
}


.nav-clickup .web-header-sentence {
    color: white;
    font-size: 2.1rem;
}

.nav-clickup .web-header-sentence p3 {
    color: #ff41c9;
}

.nav-clickup .clickup-headline {
    color: white;
    margin-left: 5px;
    font-size: 2.7rem;
    font-weight: 600;
}

.nav-clickup .web-header-logo p2 {
    color: #ff41c9;
    font-size: 2.1rem;
}

.newTag {
    background-color: #2b2f35;
    border-radius: 15px;
    padding: 5px 18px;
    color: white;
    margin-right: 80rem;
    margin-left: 28px;
    font-size: 1.2rem;
}

.nav-clickup .web-product-heading {
    float: left;
    font-weight: 500;
    font-size: 2.1rem;
    margin-bottom: 25px;
}

.nav-clickup .productOptionBtn>div>button {
    float: left;
    margin-top: 20rem;
    width: 100rem;
    font-size: 2.3rem;
    margin-left: 1px;
}

.nav-clickup .web-product-menu-List {
    width: 1270px;
    margin-right: 1rem;
}

.nav-clickup .feature-heading {
    font-size: 2.1rem;
    margin: 20px;
    font-weight: 500;
}

.nav-clickup .features-item img {
    height: 35px;
    margin-right: 20px;
    margin-bottom: 66px;
}

.nav-clickup .last-web-nav-list>div {
    width: 370px;
    height: 180px;
    padding: 28px 100px;
    display: flex;
    align-items: center;
}

.nav-clickup .last-web-nav-list>div>img {
    height: 40px;
    margin-right: 20px;
    margin-bottom: 66px;
}


.nav-clickup .features-item h1 {
    font-size: 2.4rem;
    font-weight: 600;
}

.nav-clickup .features-last-items img {
    height: 70px;
    margin-right: 10px;
}

.nav-clickup .web-product-menu-List .product-btn {
    font-size: 2.2rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 1350px;
    background-color: #EEE;
    font-weight: 500;
    margin-top: 5rem;
    border-radius: 12px;
}

.nav-clickup .h1-nav-clickup {
    font-size: 3.1rem;
}

.nav-clickup .feature-arrow {
    height: 40px;
    margin-top: 15px;
    margin-left: 10px;
}

.nav-clickup .arrowBar {
    height: 22px;
    align-items: center;
}

.nav-clickup .open-arrow {
    rotate: 180deg;
}

.nav-clickup .open-arrow:hover {
    color: #7c68ed;
}

.nav-clickup .features:hover {
    color: #7c68ed;
}

.nav-clickup .features>span>img:hover {
    color: #7c68ed;
}

.nav-clickup .first-product-option>div:hover {
    border-radius: 12px;
    background-color: aqua;
}

.nav-clickup .second-product-option>div:hover {
    border-radius: 12px;
    background-color: aqua;
}

.nav-clickup .features-last-items {
    margin-top: 38px;
}

.nav-clickup .features>span>img {
    margin-top: 11px;
}

.buttons {
    margin-bottom: 31px;
}