.segment-navigation {
    display: flex;
    justify-content: space-between;
    padding: 50px 40px;
    margin: 10px 30px;
    align-items: center;
}

.segment-navigation>div:first-child {
    display: flex;
    align-items: center;
}

.heading h9 {
    font-size: 2.1rem;
}


.segment-navigation img {
    height: 40px;
    width: 30px;
}

.segment-navigation .features {
    display: flex;
}

.segment-navigation .features>a {
    font-weight: 500;
    color: #000000;
    margin: 0px 60px;
    justify-content: space-between;
    text-decoration: none;
    font-size: 1.6rem;
}

.segment-navigation .nav-btn>a {
    font-weight: 500;
    color: #000000;
    margin: 0px 60px;
    justify-content: space-between;
    text-decoration: none;
    font-size: 1.6rem;
}

.segment-navigation .nav-btn>button {
    background-color: #0000ff;
    color: white;
    padding: 20px 20px;
    border: none;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 12px;
}


.segment-navigation .product-list {
    margin-top: 70px;
    margin-right: 100px;
}

.lists {
    display: flex;
}

.segment-navigation .hamburger .slice:not(:last-child) {
    margin-bottom: 4px;
    ;
}

.segment-navigation .hamburger .slice {
    height: 3px;
    width: 30px;
    background-color: black;
    cursor: pointer;
}

.segment-navigation .hamburger {
    display: none;
}

.mobile-product-list {
    display: none;
}

.productBtn {
    position: absolute;
    display: flex;
    width: 1400px;
    flex-direction: column;
    column-gap: 20px;
    margin: 2px;
    padding: 20px 20px;
    z-index: 1;
    box-shadow: #0d153766 0px 40px 80px;
    left: 25rem;
    margin-top: 40px;
    border-radius: 12px;
    padding: 30px;
}

.segment-navigation .segment-product {
    display: flex;
    justify-content: space-between;
}



.segment-navigation .productMenu>div p {
    margin-bottom: 0;
    font-size: 1.2rem;
    margin-top: 0;
    color: #5c4d6bb3;
}

.segment-navigation .lastItem {
    display: flex;
    align-items: center;
    padding: 15px;
}

.segment-navigation .lastItem>img {
    height: 40px;
    width: 30px;
    margin-top: 1px;
    margin-right: 15px;
}

.segment-navigation .lastItem>div p {
    margin-bottom: 0;
    font-size: 1.2rem;
    margin-top: 0;
    color: #5c4d6ab3;
}

.lastItem>div h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 500;
    margin-top: 10px;
}

.segment-navigation .items>span {
    font-size: 1.3rem;
    color: #858181;
    font-weight: 600;
}

.segment-navigation .productMenu {
    display: flex;
    align-items: center;
    padding: 10px;
}

.segment-navigation .productMenu>img {
    margin-right: 15px;
    background-color: #f4f4f6;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    border-radius: 4px;
    padding: 14px;
}

.segment-navigation .productMenu>div>h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 500;
    margin-top: 10px;
}

.segment-navigation .close-product {
    display: none;
    visibility: hidden;
}

.segment-navigation .productMenu>div:hover {
    color: #52bd94;
}

.segment-navigation .productMenu>div>p:hover {
    color: #52bd94;
}

.segment-navigation .all-product-menu {
    width: 1200px;
}

.segment-navigation .items {
    width: 950px;
    margin: -91px;
    height: 885px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    padding: 40px;
}

.segment-navigation .segment-heading {
    font-size: 1.3rem;
    font-weight: 700;
    color: rgba(92, 77, 107, 0.7);
    margin-left: 20px;
}

.segment-navigation .product-heading {
    font-size: 1.3rem;
    font-weight: 700;
    color: #858181;
    margin-top: 45px;
    margin-left: 10px;
}

.segment-navigation .featureList {
    align-items: center;
    display: flex;
}

.segment-navigation .featureList>div h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 500;
    margin-top: 10px;
}

.segment-navigation .featureList>div p {
    margin-bottom: 0;
    font-size: 1.2rem;
    margin-top: 0;
    color: #858181;
}

.segment-navigation .featureList img {
    height: 40px;
    width: 30px;
    margin-right: 15px;
}

.segment-navigation .featuresItems {
    padding: 10px;
}

.segment-navigation .items hr {
    background-color: #dad5d5;
    height: 4px;
    border: none;
    margin: 30px;
}

.segment-navigation .items {
    background-color: #f4f4f6;
}